{% trans_default_domain 'FOSUserBundle' %}

<h1 class="intitule">S'enregistrer</h1>
<section class="add">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" value="{{ 'registration.submit'|trans }}">S'enregistrer</button>
    </div>
{{ form_end(form) }}
</section>
