/*----------------------------------Specs-------------------------------*/

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.fluid{
    width : 100%;
    margin: 0 auto;
}

/*-------------------------------Header------------------------------------*/
#top{
    margin:0;
    padding: 0;
    color:white;
}

header{
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}

nav ul a {
    display: inline-block;
    margin : 0 20px;
    padding : 20px;
    color:white;
    text-decoration: none;
}

nav ul a:hover{
    background-color: orange;
}


/*--------------------------main-----------------------------------------*/

main{

}

.assoc{
    margin: 20px;
    padding: 0;
}

.assoc li{
    list-style-type: none;
    padding: 5px;
}

.assoc a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.assoc li:hover, .gris:hover{
    background-color: orange;
}

.assoc a:hover{
    color:white;
}


/*-----------Articles-----------*/
header a {
    text-decoration: none;
    color:white;
}

article{
    box-sizing: border-box;
    text-align: center;
}

article h2, article h4, article h5{
    margin : 5px;
}

.liste h2{
    font-size: 1em;
}

article h4{
    font-size: 0.6em;
}

article header{
    background-color:slategrey;
    color:white;
    display: block;
    padding: 10px;
}

.liste {
    width: 100%;
    margin:0;
    border : 2px solid black;
}


.gris{
    background-color: #999999;
    color:white !important;
}

.show{
    width:45%;
    box-sizing: border-box;
    padding: 20px;
    margin :10px;
    border : 2px solid black;
    text-align: center;
}

.bouton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.bouton:hover{
    background-color: orange;
}

/*----------Books--------------*/
.books{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.OK{
    color:green;
}

.NO{
    color:red;
}

.lienShowBooks{
    display: block;
    width:20%;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.lienShowBooks p {
    color:black;
}

.view{
    width:100%;
    overflow: hidden;
}

.lienShowBooks img{
    transform: scale(1.02);
    transition: all ease 1s ;
}

.lienShowBooks:hover img{
    transform: scale(1.12);
}

/*----------Author--------------*/
.author{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.bio{
    text-align: left;
}

.lienShow{
    display: block;
    width:33%;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

/*----------------------------------admin------------------------------------------------------*/

.manage{
    width:90%;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*--------Table--------*/
table{
    border-collapse: collapse;
    width:100%;
    margin-bottom: 50px;
    border : 2px orange solid;
}

table a{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

table caption{
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px;
    background-color: orange;
    color:white;
    text-transform: uppercase;
}

table a:hover{
    background-color: orange;
}

th{
    padding:5px;
    border: black 1px solid;
}

td{
    text-align: center;
    padding:20px;
}

.thumb{
    display: block;
    width : 40px;
    margin: 0 auto;
    background-color:inherit;
    padding:0;
}

.thumb:hover {
    background-color: inherit;
}

.grey{
    background-color: #999999;
    color:white;
}

/*---------FORM--------*/
.add{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.add form {
    width : 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #999999;
    padding: 20px;
}

.add label{
    color:white;
    margin-right : 20px;
}

.add input[type=text], .add input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.add input[type=checkbox], .add input[type=file]{
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.add button{
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.add button:hover{
    background-color: orange;
}

.add select{
    width: 33%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.add textarea{
    width:100%;
    height: 150px;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.formError li{
    color:red;
    list-style-type: none;
}




.alert{
    text-align: center;
    color:white;
    font-weight: bold;
    background-color: green;
}


.intitule{
    text-align: center;
    color : orange;
}



