{% extends ('books.base.html.twig') %}


{% block main %}
    <h1 style="text-align: center">Ajouter un auteur auteur</h1>
    <section class="books">
        {{form(form)}}
    </section>
{% endblock %}